@model SocialNetwork.Models.UserViewModel



@if (Model.Friends.Count != 0)
{
    <label>Список друзей</label>
    <div class="friend-list">
        @foreach (var user in Model.Friends)
        {
            <div class="friend-view">
                <img src="@user.Image" alt="@user.GetFullName()" />
                <label>@user.GetFullName()</label>
                <form asp-controller="AccountManager" asp-action="DeleteFriend" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn_submit">
                        Удалить из друзей
                    </button>
                </form>
            </div>
        }
    </div>
}
else
{
    <div>
        <label>У вас пока нет друзей.</label>
    </div>
}
