@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! 
            Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img src="./img/Panda_start.png" alt="Alternate Text" />
    </div>
    <div class="main">
        <partial name="Register" model="Model.RegisterView"/>
        <partial name="Login" model="Model.LoginView"/>
    </div>
</div>
