@using DataAccess
﻿@using Microsoft.AspNetCore.Identity;
@using DataAccess.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;

@model SocialNetwork.Views.ViewModels.StartViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <div>Hello @User.Identity.Name!</div>
}
else
{
<div class="row">
    <div class="side">
        <div class="center">
            Пользуйтесь нашей самой крутой соцсетью! 
            Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
        </div>
        <img src="~/img/Panda_start.png" alt="Alternate Text" />
    </div>
    <div class="main">
        <partial name="Login" model="Model.LoginView"/>
        <partial name="Register" model="Model.RegisterView"/>
    </div>
</div>
}